
<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">


<title>{{site}}</title>
<meta name="keywords" content="{{site}}" />
<meta name="description" content="" />
<link rel="stylesheet" href={{url_for('static', filename='css/index.css')}}>

<link rel="stylesheet" href={{url_for('static', filename='css/style.css')}}/>


</head>

<body>
    <!--header start-->

    <div id="header">
    
      <h1>{{site}}</h1>
      <p>SELECT * FROM World WHERE “Someone” LIKE ‘%You%’</p>    
    </div>
     <!--header end-->
    <!--nav-->
     <div id="nav">
        <ul>
         <li><a href="/">首页</a></li>
         <li><a href="about">关于我</a></li>
         <li><a href="add">add</a></li>
         <li><a href="login">login</a></li>
         <li><a href="list/2">技术分享</a></li>
         <li><a href="list/1">学无止境</a></li>
         <li><a href="list/3">心得笔记</a></li>
         <div class="clear"></div>
        </ul>
      </div>
       <!--nav end-->
    <!--content start-->
    <div id="content">
         <!--left-->
         <div class="left" id="c_left">
           <div class="s_tuijian">
           <h2>文章<span>推荐</span></h2>
           </div>
          <div class="content_text">
          
           <!--wz-->
{% for i in name %}
           <div class="wz">
         
             
<h3><a href="view/{{i[0]}}">{{i[1]}}</a></h3>
             
          
             <dl>
               <dt><a href="view/{{i[0]}}"><img src="static/{{i[4]}}" width="200"  height="123" alt=""></a></dt>
               <dd>
                <p class="dd_text_1"><a href="view/{{i[0]}}"><font color=black>{{i[2][0:120]|striptags }}.....</font></a></p>
               <p class="dd_text_2">
               <span class="left author">admin </span><span class="left sj">时间:{{i[3]}}</span>
               <span class="left fl">分类:<a href="/list/1" title="{{site}}">{{site}}</a></span><span class="left yd"><a href="view/{{i[0]}}" title="{{i[1]}}" alt="{{i[1]}}">阅读全文</a>
               </span>
                <div class="clear"></div>
               </p>
               </dd>
               <div class="clear"></div>
             </dl>
            </div>
{% endfor %}           
           <!--wz end-->
           
         
          
                             
           </div>
         </div>
         <!--left end-->
         <!--right-->
         <div class="right" id="c_right">
          <div class="s_about">
          <h2>关于博主</h2>
           <img src={{url_for('static', filename='images/my.jpg')}} width="230" height="230" alt="博主"/>
           <p>博主：再向虎山行</p>
           <p>职业：web前端、后台设计</p>
           <p>简介：</p>
           <p>
           <a href="#" title="联系博主"><span class="left b_1"></span></a><a href="#" title="加入QQ群，一起学习！"><span class="left b_2"></span></a>
           <div class="clear"></div>
           </p>
          </div>
          <!--栏目分类-->
           <div class="lanmubox">
              <div class="hd">
               <ul><li>精心推荐</li><li>最新文章</li><li class="hd_3">随机文章</li></ul>
              </div>
              <div class="bd">
                <ul>
					<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>
					<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>
					<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>
					<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>
					<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>
				</ul>
                 <ul>
					<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>
					<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>
					<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>
					<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>
					<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>
				</ul>
                 <ul>
					<li><a href="#" title="网站项目实战开发（-）">网站项目实战开发（-）</a></li>
					<li><a href="#" title="关于响应式布局">关于响应式布局</a></li>
					<li><a href="#" title="如何创建个人博客网站">如何创建个人博客网站</a></li>
					<li><a href="#" title="网站项目实战开发（二）">网站项目实战开发（二）</a></li>
					<li><a href="#" title="为什么新站前期排名老是浮动？(转)">为什么新站前期排名老是浮动？(转)</a></li>
				</ul>
                 
                
              </div>
           </div>
           <!--end-->
           <div class="link">
            <h2>友情链接</h2>
            <p><a href="http://www.sina.com">个人博客</a></p>
           </div>
         </div>
         <!--right end-->
         <div class="clear"></div>
    </div>
    <!--content end-->
    <!--footer start-->
    <div id="footer">
     <p>Design by:<a href="#" target="_blank">再向虎山行</a> 2017-2-28</p>
     <p><a href="http://www.miitbeian.gov.cn/" target="_blank"><%response.write ft_icpname%></a></p>
     <br>
    </div>
    <!--footer end-->
   
    

</body>
</html>
